*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 200px;
    background-color: aliceblue;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3);;
    border-radius: 10px;
}
.changer{
    width: 80px;
    height: 60px;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}
.number{
    font-size: 30px;
    font-weight: 500;
}
.minus, .plus, .reset{
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}
.minus:hover, .plus:hover{
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    
}
.resetor{
    text-align: center;
    padding: 1.5rem;
}
.reset{
    cursor: pointer;
    font-size: 25px;
}